


body
{
    background-color:  rgb(247, 247, 247);
    margin: 0%;

    font-family: Arial, Helvetica, sans-serif;
}

h1{ color: black}

h2{

    color: black
}

h3{
    color: black
}

p {
    color: black; 
    
}

.grid-container{
    background-color: rgb (247, 247, 247);
    display: grid;
grid-template-columns: auto;  /*wenn ich da angebe, dann erstelle ich spalten*/ 
grid-template-rows: 20px, auto 20px;
margin: 0%;
}

.menu{
    grid-column-start: 1;
    grid-column-end: 3; /* muss immer eins mehr sein */
}




.box {grid-column-start: 1;

grid-column-end: 3;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-content: space-around;


}
.content1{
    float: left;
   
    padding:20px;
    width: 500px;
   
    height: 300px;
    margin: 20px;
    background-color:  white;
}
.content2{
    float: left;
   
    /*border: 1px solid black;*/
    padding:20px;
    width: 500px;
    height: 300px;
    margin: 20px;
    background-color: white;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 3; 
   
   
   
    background: rgb(40, 48, 29);
}
.footer1
{float: right;
color: white;
grid-column-start: 1;
    grid-column-end: 3; 
   margin:0%;
   
   
    background: rgb(40, 48, 29);
}
@media screen and (max-width:700px) {

    .box{

        display: flexbox
    }
}
#buttongrey{

    background-color: grey;
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    

}

#buttonbrown{

    background-color: rgb(179,120,87);
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;}